.ocean-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(180deg, #0a3d62, #1e90ff);
}

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 43%;
  animation: waveMove 12s infinite linear;
}

.wave:nth-child(2) {
  bottom: 30px;
  opacity: 0.3;
  animation-duration: 18s;
}

.wave:nth-child(3) {
  bottom: 60px;
  opacity: 0.2;
  animation-duration: 25s;
}

@keyframes waveMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
